     //colors
     $blue:#132359;
     $white:#f7ffff;
     $light-blue:#3275bb;
     @font-face {
         font-family: IBMPlex;
         src: url(../font/IBMPlexSans-Regular.ttf);
     }
     
     body {
         height: 100%;
         width: 100%;
         margin: 0;
         padding: 0;
         font-family: IBMPlex;
     }
     
     html {
         height: 100%;
         width: 100%;
         margin: 0;
         padding: 0;
     }
     
     .login-register-bg {
         background-color: #f7ffff;
         background-image: url(../image/Roadmap-grid.png);
     }
     
     //light-theme
     .light {
         background-color: $white;
         color: $light-blue;
         .heading-bigger {
             font-size: 3em;
             width: 100%;
             text-align: center;
             //default position center overwrite individually
             font-weight: 800;
             margin-top: 10px;
             margin-bottom: 10px;
         }
         .heading-big {
             font-size: 2em;
             width: 100%;
             text-align: center;
             //default position center overwrite individually
             font-weight: 800;
             margin-top: 10px;
             margin-bottom: 10px;
         }
         .heading {
             font-size: 1.2em;
             width: 100%;
             text-align: center;
             //default position center overwrite individually
             font-weight: 800;
         }
         .text-big {
             //give width text-aline individually
             font-size: 1.4em;
             margin-left: 5px;
         }
         .text-small {
             //give width text-aline individually 
             font-size: 1.2em;
             margin-left: 5px;
         }
         .text {
             //give width text-aline individually
             font-size: 1em;
             margin-left: 5px;
         }
         .btn-container {
             display: flex;
             width: 100%;
             //give position of the 
             //button individually using the justify-content attribute
             //"flex-end","center",etc...
         }
         .btn {
             //give margin padding font-size individiually
             //or if they are common every where define here
             display: flex;
             justify-content: center;
             align-items: center;
             border-radius: 10px;
         }
         .btn-blue {
             color: $white;
             background-color: $light-blue;
             border: 1px solid $white;
         }
         .btn-white {
             color: $light-blue;
             background-color: $white;
             border: 1px solid $light-blue;
         }
         //form-style
         form {
             //width: 80%;
             //margin: 10px auto;
             //define width and margin accordingly use above for ref.
             input,
             select,
             option {
                 width: 100%;
                 border: 1px solid #3274bb74;
                 outline: none;
                 color: #626a6a;
                 border-radius: 10px;
                 padding: 15px 10px;
             }
             .input-blue {
                 background-color: #3274bb2c;
                 color: #fff;
             }
         }
         //table
         .table-container {
             width: 100%;
             overflow: scroll;
         }
         .table {
             width: 100%;
             margin-bottom: 1rem;
         }
         .table:not(.table-sm):not(.table-md):not(.dataTable) td,
         .table:not(.table-sm):not(.table-md):not(.dataTable) th {
             padding: 0 15px;
             height: 60px;
             vertical-align: middle;
             a {
                 text-decoration: none;
                 color: inherit;
             }
         }
         .table:not(.table-sm) thead th {
             border-bottom: none;
             background-color: $light-blue;
             color: #fff;
             padding-top: 15px;
             padding-bottom: 15px;
         }
         .table-striped tbody tr:nth-of-type(odd) {
             background-color: $white;
             color: $light-blue!important;
         }
         .table-striped tbody tr:nth-of-type(even) {
             color: $white!important;
             background-color: #3274bba3;
         }
         //end table
         //top coin-tickeer
         .bg-blue {
             background-color: $light-blue;
             color: $white;
         }
         .bg-white {
             background-color: $white;
             color: $light-blue;
         }
         .coin-data {
             display: flex;
             width: 100%;
             justify-content: space-around;
             padding-bottom: 2px;
             .demo {
                 width: 30%;
                 height: 100%;
                 display: flex;
                 .arrow {
                     height: 30px;
                     width: 8%;
                     margin-right: 5px;
                     margin-top: 5%;
                     img {
                         height: 75%;
                         width: 100%;
                     }
                 }
                 .up img:last-child {
                     display: none;
                 }
                 .down img:first-child {
                     display: none;
                 }
                 .up {
                     color: #32ba32;
                 }
                 .down {
                     color: #f15c2e;
                 }
                 .details {
                     width: 90%;
                     height: 100%;
                     .currency {
                         display: flex;
                         font-size: 1.2em;
                         width: 100%;
                         align-items: center;
                         img {
                             width: 15px;
                             height: 15px;
                             margin-right: 2px;
                         }
                     }
                     .rate {
                         display: flex;
                         width: 100%;
                         justify-content: space-around;
                         font-size: 1em;
                         .price {
                             font-size: 1em;
                         }
                         .percent {
                             font-size: 1em;
                         }
                     }
                 }
             }
         }
         //patle-cards
         .dtt-mob-cards {
             width: 90%;
             margin: 30px auto;
             .patle-cards {
                 color: $blue;
                 width: 100%;
                 font-size: 1.4em;
                 display: flex;
                 align-items: center;
                 padding-bottom: 10px;
                 font-weight: 800;
                 .btn {
                     font-size: 18px;
                     font-weight: 400;
                     padding: 2px 10px;
                     margin-right: 10px;
                 }
                 img {
                     width: 40px;
                     height: 40px;
                     margin-right: 30px;
                 }
                 .data {
                     font-size: 1.3;
                     margin-left: auto;
                     color: #756d6d;
                 }
             }
             div:nth-child(even) {
                 color: #a1c9f3;
             }
         }
         //end patle cards
         //bottom navigation pannel
         .fixed-bottom-nav {
             width: 100%;
             display: flex;
             position: fixed;
             bottom: 0px;
             left: 0;
             height: 50px;
             padding: 10px 0px;
             background-color: $white;
             box-shadow: -5px -5px 20px rgba($color: #000000, $alpha: 0.3);
             a {
                 color: #3274bb2c;
                 text-decoration: none;
                 color: #8c8484;
                 width: 20%;
                 display: block;
                 height: 100%;
                 i {
                     width: 100%;
                     text-align: center;
                     font-size: 1.4em;
                 }
                 .nav-name {
                     width: 100%;
                     text-align: center;
                 }
             }
             a:hover,
             .active {
                 color: #132359;
             }
         }
         //copy-right
         .copyright {
             width: 100%;
             position: absolute;
             bottom: 20px;
             color: $light-blue;
             text-align: center;
             font-size: 1.2em;
             border-top: 1px solid #c5c8cc;
             padding-top: 1.5rem;
             span:nth-child(1) {
                 border-right: 1px solid #ffffff;
             }
             span {
                 padding: 0 10px;
             }
         }
     }
     
     .light {
         //login-register page
         .brand-logo {
             width: 100%;
             height: 135px;
             display: flex;
             justify-content: center;
             color: $white;
             max-width: 370px;
             margin: 10px auto;
             .imgbx {
                 width: 80%;
                 height: 100%;
                 img {
                     height: 100%;
                     width: 100%;
                 }
             }
         }
         .dtt-login-pannel {
             width: 100%;
             padding: 30px 10px;
             border-radius: 20px;
             .dtt-login-button-box {
                 text-align: center;
                 width: 100%;
                 margin-top: 2%;
                 margin-bottom: 30px;
                 .register-referal {
                     border: 1px solid #0062cc;
                     background: transparent;
                     padding: 15px 5px;
                     color: rgb(51, 48, 48);
                     border-radius: 20px;
                     width: 75%;
                     outline: none;
                 }
                 .dtt-btn-login-box {
                     position: relative;
                     width: 70%;
                     margin: 0px auto;
                     .dtt-cstm-pulse-login {
                         border: 1px solid #3274bb77 !important;
                         position: absolute;
                         top: 0;
                         left: 0;
                         animation: pulse-cstm 1.8s infinite ease-out;
                     }
                     .btn {
                         font-size: 1.8em;
                         width: 100%;
                         padding: 10px 10px;
                         font-weight: 600;
                     }
                 }
             }
             .text-big {
                 text-align: center;
             }
             .text-big a {
                 color: #13c471;
                 text-decoration: none;
             }
         }
         //trade-page
         .eth {
             background-color: #3275bb;
             color: #f7ffff
         }
         .dtt {
             background-color: #f7ffff;
             color: #3275bb
         }
         .dtt-trade-card {
             width: 100%;
             padding: 30px 0px;
             .head {
                 width: 90%;
                 display: flex;
                 justify-content: space-between;
                 margin: 10px auto;
                 .text {
                     font-size: 1.2em;
                 }
                 .data {
                     display: flex;
                     font-size: 1.1em;
                     img {
                         height: 25px;
                         width: 30px;
                     }
                 }
             }
             form {
                 width: 80%;
                 margin: 10px auto;
                 .btn-container {
                     justify-content: flex-end;
                     button {
                         margin-right: 10px;
                         padding: 5px 10px;
                         font-size: 1.4em;
                     }
                 }
             }
         }
         //transaction-page
         .dtt-trans-header {
             width: 90%;
             padding-top: 50px;
             padding-bottom: 30px;
             margin: 0px auto;
             .header {
                 display: flex;
                 width: 100%;
                 justify-content: space-between;
                 .heading-big {
                     text-align: left;
                 }
                 .btn-container {
                     width: 30%;
                     display: flex;
                     justify-content: space-between;
                     height: 50px;
                     width: 40%;
                     .btn {
                         margin-right: 10px;
                         padding: 5px 10px;
                         font-size: 1em;
                     }
                 }
             }
             form {
                 display: flex;
                 width: 100%;
                 margin: 10px auto;
                 justify-content: space-between;
                 align-items: center;
                 input {
                     width: 80%;
                 }
                 .btn-container {
                     width: 10%;
                     display: flex;
                     justify-content: center;
                     .btn {
                         margin-right: 10px;
                         padding: 5px 10px;
                         i {
                             font-size: 2em;
                         }
                     }
                 }
             }
         }
         //graph.html refral.html
         .dtt-graph-header,
         .dtt-ref-header {
             width: 100%;
             background-color: #3275bb;
             color: $blue;
             #myChart,
             #myrefpieChart,
             #myreflineChart {
                 background-color: $white;
             }
         }
         //stake.html
         .dtt-mob-header-stake {
             width: 100%;
             height: 250px;
             background-color: $light-blue;
             color: $white;
             .stake-cards {
                 width: 100%;
                 height: 100%;
                 .slick-prev {
                     left: 5px;
                     z-index: 1;
                 }
                 .slick-next {
                     right: 25px;
                 }
                 .slick-prev:before,
                 .slick-next:before {
                     font-size: 40px;
                 }
             }
             .stake-card {
                 width: 100%;
                 height: 100%;
                 padding: 40px 0px;
                 position: relative;
                 .head {
                     font-size: 2em;
                     font-weight: 800;
                     width: 100%;
                     text-align: center;
                 }
                 .time-lapse {
                     font-size: 1.6em;
                     font-weight: 800;
                     width: 100%;
                     text-align: center;
                     margin-top: 30px;
                 }
                 .btn-container {
                     justify-content: center;
                     margin-top: 20px;
                     .btn {
                         width: 25%;
                         font-size: 1.2em;
                         margin-right: 10px;
                         i {
                             color: $light-blue;
                             font-size: 1.6em;
                         }
                     }
                 }
             }
         }
         .stake-form {
             width: 70%;
             padding: 10px 15px;
             margin: 10px auto;
             select {}
             option {
                 width: 80%;
                 font-size: 0.9em;
             }
             .btn-container {
                 justify-content: center;
                 margin-top: 10px;
                 button {
                     padding: 10px 15px;
                     font-size: 1.4em;
                     margin-right: 10px;
                 }
             }
         }
         .stake-features {
             width: 55%;
             margin: 10px auto;
             li {
                 list-style: none;
                 color: $light-blue;
                 font-size: 1.2em;
                 i {
                     font-size: 1.2em;
                     color: #1abd84;
                 }
             }
         }
         //dashboard.html
         .dtt-dash-header {
             width: 100%;
             padding-top: 50px;
             padding-bottom: 30px;
             .btn-container {
                 width: 70%;
                 margin: 20px auto;
                 display: flex;
                 justify-content: space-around;
                 button {
                     border: none;
                     text-decoration: none;
                     color: $white;
                     background-color: rgba($color: #fff, $alpha: 0.2);
                     border-radius: 50%;
                     // box-shadow: 5px 5px 20px $blue;
                     width: 80px;
                     height: 80px;
                     display: flex;
                     align-items: center;
                     justify-content: center;
                     font-weight: 800;
                     i {
                         font-size: 2.5em;
                     }
                 }
                 p {
                     font-size: 1.4em;
                     color: $white;
                     margin: 0px 0px;
                     width: 30%;
                     text-align: center;
                 }
             }
         }
     }
     
     //animations
     @keyframes pulse-cstm {
         0% {
             border: 1px solid rgba(255, 255, 255, 1);
             border-radius: 20px;
             height: 100%;
             width: 100%;
         }
         100% {
             border: 1px solid rgba(255, 255, 255, 0);
             border-radius: 20px;
             height: 130%;
             width: 130%;
             top: -15%;
             left: -15%;
         }
     }