  //colors
  $blue:#132359;
  $white:#f7ffff;
  $light-blue:#3275bb;
  @font-face {
      font-family: IBMPlex;
      src: url(./font/IBMPlexSans-Regular.ttf);
  }
  
  body {
      height: 100%;
      width: 100%;
      margin: 0;
      padding: 0;
      font-family: IBMPlex;
  }
  
  .html {
      height: 100%;
      width: 100%;
      margin: 0;
      padding: 0;
  }
  
  .light {
      background-color: $white;
      color: $white;
      .coin-data {
          display: flex;
          width: 100%;
          background-color: $light-blue;
          color: $white;
          justify-content: space-around;
          padding-bottom: 2px;
          .demo {
              width: 30%;
              height: 100%;
              display: flex;
              .arrow {
                  height: 30px;
                  width: 8%;
                  margin-right: 5px;
                  margin-top: 5%;
                  img {
                      height: 75%;
                      width: 100%;
                  }
              }
              .up img:last-child {
                  display: none;
              }
              .down img:first-child {
                  display: none;
              }
              .up {
                  color: #32dd32;
              }
              .down {
                  color: #fa9a8d;
              }
              .details {
                  width: 90%;
                  height: 100%;
                  .currency {
                      display: flex;
                      font-size: 1.2em;
                      width: 100%;
                      align-items: center;
                      img {
                          width: 15px;
                          height: 15px;
                          margin-right: 2px;
                      }
                  }
                  .rate {
                      display: flex;
                      width: 100%;
                      justify-content: space-around;
                      font-size: 1em;
                      .price {
                          font-size: 1em;
                      }
                      .percent {
                          font-size: 1em;
                      }
                  }
              }
          }
      }
      .dtt-balance-header {
          width: 90%;
          padding-top: 50px;
          padding-bottom: 30px;
          color: $blue;
          margin: 0px auto;
          .header {
              display: flex;
              width: 100%;
              justify-content: space-between;
              .head {
                  color: $light-blue;
                  font-weight: 800;
                  font-size: 2em;
              }
              .btn-container {
                  width: 30%;
                  display: flex;
                  justify-content: space-between;
                  a {
                      text-decoration: none;
                      border-radius: 10px;
                      width: 45%;
                      font-size: 1em;
                      display: flex;
                      justify-content: center;
                      align-items: center;
                      border-radius: 10px;
                      height: 35px;
                  }
                  .all {
                      color: $light-blue;
                      border: 1px solid $light-blue;
                      background-color: $white;
                  }
                  .mine {
                      color: $white;
                      background-color: $light-blue;
                      border: 1px solid $light-blue;
                  }
              }
          }
          form {
              display: flex;
              width: 100%;
              margin: 10px auto;
              justify-content: space-between;
              align-items: center;
              input[type="text"] {
                  border: 1px solid $blue;
                  color: #a6a6a6;
                  font-size: 1rem;
                  border-radius: 10px;
                  padding: 10px 5px;
                  width: 70%;
                  height: 100%;
                  margin-left: 10px;
              }
              a {
                  width: 10%;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  text-decoration: none;
                  height: 100%;
                  background-color: $light-blue;
                  padding: 10px 15px;
                  border-radius: 20px;
                  i {
                      font-size: 1.6em;
                      color: $white;
                  }
              }
          }
      }
      //table
      .table-container {
          width: 100%;
          overflow: scroll;
      }
      .table {
          width: 100%;
          margin-bottom: 1rem;
      }
      .table:not(.table-sm):not(.table-md):not(.dataTable) td,
      .table:not(.table-sm):not(.table-md):not(.dataTable) th {
          padding: 0 15px;
          height: 60px;
          vertical-align: middle;
          a {
              text-decoration: none;
              color: inherit;
          }
      }
      .table:not(.table-sm) thead th {
          border-bottom: none;
          background-color: $light-blue;
          color: #fff;
          padding-top: 15px;
          padding-bottom: 15px;
      }
      .table-striped tbody tr:nth-of-type(odd) {
          background-color: $white;
          color: $light-blue!important;
      }
      .table-striped tbody tr:nth-of-type(even) {
          color: $white!important;
          background-color: #3274bba3;
      }
      //end table
      .fixed-bottom-nav {
          width: 100%;
          display: flex;
          position: fixed;
          bottom: 0px;
          left: 0;
          height: 50px;
          padding: 10px 0px;
          background-color: $white;
          box-shadow: -5px -5px 20px rgba($color: #000000, $alpha: 0.3);
          a {
              text-decoration: none;
              color: #8c8484;
              width: 20%;
              display: block;
              height: 100%;
              i {
                  width: 100%;
                  text-align: center;
                  font-size: 1.4em;
              }
              .nav-name {
                  width: 100%;
                  text-align: center;
              }
          }
          a:hover,
          .active {
              color: #132359;
          }
      }
  }
  
  .btn {
      padding: 10px 15px;
      display: flex;
      border: 1px solid $white;
      margin-bottom: 10px;
      border-radius: 10px;
      i {
          width: 20%;
          display: flex;
          align-items: center;
          justify-content: center;
      }
      .name {
          width: 80%;
          display: flex;
          align-items: center;
          justify-content: center;
      }
  }
  
  .gradient_button {
      //give margin font-size and width etc
      background: #1D976C;
      /* fallback for old browsers */
      background: -webkit-linear-gradient(to right, #93F9B9, #1D976C);
      /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to right, #93F9B9, #1D976C);
      /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      border-radius: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: $white;
      text-decoration: none;
  }